.panel {
   display: flex;
   flex-direction: column;

   padding: rem(12);

   transition: all 1s ease-out;

   border: rem(2) solid $gray;
   border-radius: rem(10);

   & >*:not(:last-child) {
      margin-bottom: rem(12);
   }

   // .panel__title

   &__title {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      font-size: rem(20);
      font-weight: 400;
      column-gap: rem(4);

      //! decoration
      // &::before { 
      //    width: rem(12);
      //    height: rem(3);

      //    content: '';

      //    border-radius: rem(3);

      //    background-color: currentColor;
      // }
   }

   // .panel__content

   &__content {
      display: flex;
      flex-direction: column;

      & > *:not(:last-child) {
         margin-bottom: rem(16);
      }
   }
}
