// @keyframes my-animation {
//    from {
//       max-height: 62px;
//       max-height: 0;

//       transform: scale(1);
//    }
//    to {
//       padding: 0;

//       transform: scale(0);

//       opacity: 1;
//    }
//  }


//  .auth-form {

//    // .auth-form__input

//    &__input {
//       animation: my-animation 1s ease-in-out;
//    }
// }
// .btn {

//    // .btn_red

//    &_red {
//    }
// }

.my-node-enter {
   min-height: 0;
   padding: 0;
   padding-top: 0;
   padding-bottom: 0;

   // opacity: 0;
   transform: scale(0);
}
.my-node-enter-active {
   max-height: rem(62);
   
   padding-top: rem(21);
   padding-bottom: rem(18);

   transition: all 200ms;

   // opacity: 1;
   
   transform: scale(1);
}
.my-node-exit {
   max-height: rem(62);
   
   padding-top: rem(21);
   padding-bottom: rem(18);

   // opacity: 1;
   
   transform: scale(1);
}
.my-node-exit-active {
   max-height: 0;
   padding: 0;
   padding-top: 0;
   padding-bottom: 0;

   transition: all 200ms;
   
   transform: scale(0);
}