.shell {
   padding: rem(12);

   border-radius: rem(10);
   background-color: $white;
   box-shadow: 0 rem(4) rem(4) 0 rgba(0, 0, 0, 0.25);
   

   // .shell_nav

   &_nav {
      max-width: max-content;
      padding: rem(6) rem(12);
   }

}