.btn {
   $p: &;
   display: inline-flex;
   align-items: center;

   padding: rem(5) rem(10);

   transition: color, background, 0.3s ease;

   color: $btnDefault;

   border: rem(1) solid currentColor;
   border-radius: rem(8);
   background-color: transparent;

   font-size: rem(14);

   &_active { 
      background-color: currentColor;
      #{$p}_label {
         color: #fff;
      }
   }
   &_red {color: $btnRed}
   &_green {color: $btnGreen}
   &_yellow {color: $btnYellow}
   &_blue {color: $btnBlue}
}





