.app {
   // .app__container

   &__container {
      display: flex;
      align-items: center;
      justify-content: center;

      min-height: 100vh;
      
      padding: rem(math.div($containerPadding, 2)) 0;
   }

   // .app__shell

   &__shell {
      
   }
}

