.app {
   // .app__container

   &__container {
      display: grid;

      min-height: 100vh;

      transition: all 1s ease-out;
      row-gap: rem(20);
   }
   
   // .app__title

   &__title {
   }

   // .app__shell-wrapper

   &__shell-wrapper {
      display: grid;
      align-self: start;
      row-gap: rem(10);
   }

   // .app__shell

   &__shell {
   }
}


/* stylelint-disable-next-line no-descending-specificity */
.title-app {
   display: inline-flex;
   align-items: center;

   color: $whiteText;
   column-gap: rem(24);

   font-size: rem(64);

   // .title-app__icon

   &__icon {
      flex: 0 0 em(60, 64);

      width: em(60, 64);
      height: em(75, 64);
   }

   // .title-app__title

   &__title {
   }
}




