.app {
   // .app__container

   &__container {
      display: grid;

      min-height: 100vh;

      transition: all 1s ease-out;

      & > .title-app:not(:last-child) {
         margin-bottom: rem(20);
      }
   }


   
   // .app__title

   &__title {
      align-self: center;
   }

   // .app__shell-wrapper

   &__shell-wrapper {
      display: grid;
      align-self: start;

      justify-content: center;

      
      transition: all 1s ease-out;
      // .app__shell-wrapper_center-content
      &_center-content {
         justify-content: center;
      }

      & > *:not(:last-child) {
         margin-bottom: rem(10);
      }
   }


   // .app__shell

   &__shell {
      transition: all 1s ease-out;
      
      &_main {
         display: grid;

         // min-width: rem($maxWidthContainer);

         transition: all 1s ease-out;
         grid-auto-columns: 1fr 1.3fr;
         grid-template-rows: repeat(3, auto);
         grid-gap: rem(12);
         grid-auto-flow: column;
      }

      // .app__shell_nav

      &_nav {
         max-width: rem(300);
         padding: rem(6);

         transition: all 1s ease-out;
      }
   }
}


/* stylelint-disable-next-line no-descending-specificity */
.title-app {
   display: inline-flex;
   align-items: center;

   color: $whiteText;
   column-gap: rem(24);

   font-size: rem(64);

   // .title-app__icon

   &__icon {
      flex: 0 0 em(60, 64);

      width: em(60, 64);
      height: em(75, 64);
   }

   // .title-app__title

   &__title {
      
   }
}



