.input-field {
   $p: &;
   position: relative;

   max-width: rem(320);

   padding-top: rem(21);
   padding-bottom: rem(18);

   transition: all 0.6s ease;

   .input-field_active &__placeholder {
      top: 0;
      left: 0;

      font-size: rem(12);
   }

   .input-field_error &__wrapper {
      &:before {
         width: 100%;

         background: $red;
      }
   }

   &:focus-within {
      #{$p}__placeholder {
         top: 0;
         left: 0;

         font-size: rem(12);
      }            

      #{$p}__wrapper {
         &::before {
            width: 100%;
         }
      }

      #{$p}__input {
         &::placeholder {
            opacity: 1;
         }
      }
   }

   // .input-field__placeholder

   &__placeholder {
      position: absolute;
      top: rem(21);
      left: rem(3);

      transition: top, left, font-size, 0.35s ease;

      line-height: rem(21);
   }

   // .input-field__wrapper

   &__wrapper {
      position: relative;

      display: inline-flex;
      align-items: center;
      justify-content: center;


      &:before {
         position: absolute;
         bottom: 0;

         width: 0;
         height: rem(2);

         content: "";
         transition: width 0.35s ease;

         background: $btnDefault;
      }
   }

   // .input-field__input

   &__input {
      width: 100%;
      padding-left: rem(3);

      border-bottom: $gray solid rem(2);
      background-color: transparent;

      line-height: rem(21);

      &::placeholder {
         transition: opacity 0.35s ease;

         opacity: 0;
      }
   }



   // .input-field__error

   &__error {
      position: absolute;
      bottom: 0;
      left: 0;

      color: $red;

      font-size: rem(12);
   }
}